# =============== #
# Unity generated #
# =============== #
Temp/
Library/
*.exe
*_Data/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# =============== #
# Temporary Files #
# =============== #
*.blend1

# =============== #
# Animation Files #
# =============== #
Assets/Models/Resources/Animations
Assets/Models/Resources/Animations.meta
Assets/Models/Resources/Animations/*